@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background: linear-gradient(to bottom, #FFFFFF, #F0F2FF);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 128px;
    max-width: 1440px;
    width: 100%;


}

.button-wrapper .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    margin-bottom: 60px;
}

.button-wrapper {

    width: clamp(1rem, -23.296rem + 103.662vw, 70rem);

    display: flex;
    justify-content: center;

    span {
        width: 100px;

        img {
            max-width: 100%;
        }
    }

    button {
        font-family: "Plus Jakarta Sans", sans-serif;
        padding: 15px 30px;
        background-color: #13183F;
        border: none;
        border-radius: 30px;
        color: white;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
    }

    button:active {
        transform: scale(0.98);
    }

    button:hover {
        background-color: #666CA3;
    }

}

/* here finished header */


main {
    margin-bottom: 144px;
}

.design-section {
    padding: 0 160px;

}

.design-section .description {
    padding: 110px 0;
    width: 45%;

    h1 {
        font-size: 56px;
        font-weight: 900;
        color: #13183F;
        margin-bottom: 25px;
    }

    p {
        /* width: 490px; */
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        color: #83869A;
        margin-bottom: 40px;
    }

    button {
        background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
        border: none;
        padding: 16px 30px;
        border-radius: 30px;
        font-size: 18px;
        font-weight: 700;
        color: white;
        cursor: pointer;
    }

    button:hover {
        background: linear-gradient(180deg, rgba(255, 111, 72, 0.5) 0%, rgba(240, 42, 166, 0.5) 100%);
    }

}

.design-section .description button:active {
    transform: scale(0.98);
}

.design-section .design {
    width: 45%;
    display: flex;
    justify-content: center;
}

.design-section .design .image-wrapper {
    position: relative;
}

.design-section .design .image-wrapper .img-hide .img-on {
    display: none;
}

.design-section .design .image-wrapper::after {
    content: "";
    width: 320px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(180deg, #4851ff 0%, #f02aa7 100%);
    left: -113px;
    bottom: 52px;
    border-radius: 158px;
    z-index: -1;
    transform-origin: bottom;
    transform: rotate(45deg);

}

.design-section .design .image-wrapper .curse-hours {
    position: absolute;
    width: 200px;
    height: 120px;
    bottom: 90px;
    left: -120px;
    padding: 20px 24px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 34px 54px 0px #06168D29;


    p {
        color: #83869A;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;

    }

    h3 {
        font-size: 40px;
        font-weight: 900;
        color: #13183F;
    }
}

.design-section .design .image-wrapper .members {
    position: absolute;
    width: 155px;
    height: 120px;
    top: 123px;
    right: -115px;
    padding: 20px 24px;
    background-color: white;
    border-radius: 15px;

    p {
        color: #83869A;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;

    }

    h3 {
        font-size: 40px;
        font-weight: 900;
        color: #13183F;
    }
}

.card-section {
    display: flex;
    justify-content: center;
}

.card-section .card-wrapper {
    /* width: clamp(1rem, -23.296rem + 103.662vw, 70rem); */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    row-gap: 74px;
    column-gap: 32px;


    .card-courses {
        background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
        box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.044);
        border-radius: 15px;
        padding: 64px 32px;

        h2 {
            color: white;
            font-size: 32px;
            font-weight: 800;
            line-height: 120%;

        }
    }
}

.card-section .card {
    padding: 64px 32px 40px 32px;
    position: relative;
    background-color: white;
    border-radius: 15px;

    h3 {
        font-size: 23px;
        font-weight: 900;
        color: #13183F;
        padding-bottom: 24px;
    }

    p {
        font-size: 18px;
        font-weight: 500;
        color: #83869A;
        line-height: 150%;
        padding-bottom: 24px;
    }

    a {
        font-size: 18px;
        font-weight: 700;
        color: #F74780;

    }

    .icont-section {
        content: "";
        position: absolute;
        width: 56px;
        height: 56px;
        top: 0;
        left: 0;
    }

    .icon-wrapper {
        position: absolute;
        top: -30px;
        left: 30px;
    }
}

footer {
    width: 100%;
    background-color: #13183F;
    display: flex;
    justify-content: center;
    padding: 25px 0;

    .style {
        width: clamp(1rem, -23.296rem + 103.662vw, 70rem);
        display: flex;
        justify-content: space-between;
        align-items: center;


        button {
            background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
            padding: 16px 32px;
            color: white;
            border-radius: 30px;
            font-size: 18px;
            font-weight: 700;
            cursor: pointer;
            border: none;
        }

        button:active {
            transform: scale(0.98);
        }

        button:hover {
            background:
                linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
        }
    }
}